/models/training_script/.ipynb_checkpoints/
/.idea/misc.xml
/.idea/vcs.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/workspace.xml
/log.txt
/equipment/steam_bollerE5039440gm5/screen/log.txt
